@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  /* outline: none; */
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

.heading {
  font-family: "Cormorant Garamond", serif;
}


:root {
  --px: 7%;
}

/* body {
  background: #fbfbfb;
} */

body::-webkit-scrollbar,
body>* ::-webkit-scrollbar {
  width: 8px;
  border-radius: 100px;
  background: #3f4448;
}

body::-webkit-scrollbar-thumb,
body>* ::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: lightgray;
}

.box,
.topNav {
  padding-right: var(--px);
  padding-left: var(--px);
}

.pacify {
  font-family: "Pacifico", cursive;
}

.hexagon {
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}

.over {
  z-index: 2000;
}

.over>* {
  z-index: 2000;
}

@media all and (max-width:1050px) {
  :root {
    --px: 7%
  }
}

@import "tailwindcss";
@config "../tailwind.config.js"